astroid
click
future
importlib-metadata
isort
Jinja2
joblib
lazy-object-proxy
livereload
lunr
Markdown
MarkupSafe
mccabe
mkdocs
mkdocs-material
mkdocs-material-extensions
nltk
Pygments
pylint
pymdown-extensions
PyYAML
regex
six
toml
tornado
tqdm
typed-ast
wrapt
zipp
